<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cypher Marketing</title>
    <environment include="development">
        <link href="~/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/custom.css" rel="stylesheet" />
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    </environment>
    <environment exclude="development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/css/bootstrap.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w="
              crossorigin="anonymous" />
        <link href="~/css/custom.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              asp-fallback-href="~/css/font-awesome.css"
              asp-fallback-test-class="fa"
              asp-fallback-test-property="font-family"
              asp-fallback-test-value="FontAwesome"
              integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
              crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7+1/css/sb-admin-2.min.css" 
              asp-fallback-href="~/css/sb-admin-2.css"
              asp-fallback-test-class="btn-outline"
              asp-fallback-test-property="background-color"
              asp-fallback-test-value="transparent"
              integrity="sha256-WeMGw+d+qR+l2h9TzmC+jTME4zy5zYzG8E6FbPikzeM=" 
              crossorigin="anonymous" />
    </environment>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Cypher Marketing</a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <br />
                    <ul class="nav" id="side-menu">
                        <li>
                            <span><i class="fa fa-edit fa-fw"></i> Clients</span>
                            <ul class="nav nav-second-level in">
                                <li>
                                    @Html.ActionLink("New Client", "NewClient", "Client")
                                </li>
                                <li>
                                    <a href="#">All Clients</a>
                                </li>
                            </ul>
                        </li>
                        <li>

                            <span><i class="fa fa-edit fa-fw"></i> Orders</span>
                            <ul class="nav nav-second-level in">
                                <li>
                                    <a href="#">New Order</a>
                                </li>
                                <li>
                                    <a href="#">In Progress Orders</a>
                                </li>

                                <li>
                                    <a href="#">Order History</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span><i class="fa fa-edit fa-fw"></i> Inventory</span>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">New Item</a>
                                </li>
                                <li>
                                    <a href="#">Current Inventory</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Begin View Wrapper -->
        @RenderBody()
        <!-- End View Wrapper -->
    </div>
    <footer>
        @if (IsSectionDefined("Footer"))
        {
            RenderSection("Footer", false);
        }
        else
        {
            <p>&copy; 2016 Cypher Marketing<span class="pull-right">Contact Help Desk at 555-555-1342</span></p>
        }
    </footer>
    <environment include="development">
        <script src="~/js/jquery-1.10.2.js"></script>
        <script src="~/js/jquery.validate.js"></script>
        <script src="~/js/jquery.validate.unobtrusive.js"></script>
    </environment>
</body>
</html>
